{% extends "base.html" %}

{% block title %}
Profile | page 
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="../static/css/profile.css">
{% endblock css %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <div class="profile-photo">
                <img src="{{PO.photo.url}}" alt="Profile Photo">
            </div>
            <h2>Welcome, {{ UO.username }}</h2>
        </div>
        <div class="profile-details">
            <div class="detail-group">
                <i class="fas fa-envelope">Name</i>
                <span>{{ UO.first_name }} {{UO.last_name}}</span>
            </div>
            <div class="detail-group">
                <i class="fas fa-phone">Email</i>
                <span>{{ UO.email }}</span>
            </div>
            <div class="detail-group">
                <i class="fas fa-user-tag">Pno</i>
                <span>{{ PO.pno }}</span>
            </div>
        </div>
        <div class="profile-actions">
            <button class="edit-button">Edit Profile</button>
            <button class="logout-button">Logout</button>
        </div>
    </div>
</div>
{% endblock content %}